html
  head

    script(type='text/javascript',src='../scripts/vis.js')
    link(href="vis.css",rel="stylesheet",type="text/css") 
    
    style
      include style.css

  body

    div(id="header")
      h1= title
      h2= author

    div(id="leftside")

      div(id="abstract")
        | !{abstract}

      div(id="claims")
        p!= claims

    div(id="rightside")

    div(id="mynetwork")
      script(type='text/javascript').
        var nodes = new vis.DataSet(!{JSON.stringify(nodes)});
        var edges = new vis.DataSet(!{JSON.stringify(edges)});
        var data = { nodes: nodes, edges: edges };  
        var container = document.getElementById('mynetwork');
        var options = {}; 
        var network = new vis.Network(container, data, options);
      
      //include ../scripts/testscript.js

    div(id="footer")

