html
  head

    script(type='text/javascript',src='../scripts/vis.js')
    link(href="vis.css",rel="stylesheet",type="text/css") 
    
    style
      include style.css

  body

    div(id="header")
      h1=id + ": " + title
      //h1= title
      h2= author

    div(id="leftside")

      div(id="abstract")
        h2= "Abstract"
        | !{abstract}

      div(id="claims")
        h2= "Claims"
        p!= claims

    div(id="rightside")

    div(id="mynetwork")
      script(type='text/javascript').

        var nodes_list = !{JSON.stringify(nodes)};
        var nodes = new vis.DataSet(!{JSON.stringify(nodes)});
        var edges = new vis.DataSet(!{JSON.stringify(edges)});
        var data = { nodes: nodes, edges: edges };  
        var container = document.getElementById('mynetwork');
        var options = {interaction:{hover:true}}; 
        var network = new vis.Network(container, data, options);
        network.on("doubleClick", function (params) {
          params.event = "[original event]";
          document.getElementById('rightside').innerHTML = nodes_list[params["nodes"]-1].label;
          window.location.href = "http://localhost:3000/search?patent_num=" + nodes_list[params["nodes"]-1].label;
        });
      
      //include ../scripts/testscript.js

    div(id="footer")

